<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwh147.rtms.backstage.dao.mapper.TempInfoMapper">
  <resultMap id="BaseResultMap" type="com.lwh147.rtms.backstage.dao.entity.TempInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="temp" jdbcType="REAL" property="temp" />
    <result column="resident_id" jdbcType="BIGINT" property="residentId" />
  </resultMap>
</mapper>